.container{
    width: 1226px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
}
.header-section{
    padding-top: 46px;
    background-color: #171717;
}
.head-x{
    display: flex;
    justify-content: space-between;
}
.title-img{
    width: 216px;
}
.contact{
    display: flex;
}
.number{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: white;
    padding-right: 40px;
}
.num{
    color: goldenrod;
}
.call-back{
    border: 1px solid #E4B564;
    margin-right: 20px;
    margin-bottom: 20px;
}
.button{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding-right: 5px;
}
.phone{
    padding-left: 5px;
}
.networks-section{
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  

}
.network-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 128px;
    padding-bottom: 41px;
}
.network-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.network-info1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    text-align: center;
}
.network-info2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 34px;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 161px;
}
.network-item{
    display: flex;
    justify-content: center;
    height: 50vh;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.item1{
    background-color: #634F2C;
}
.item2{
    background-color: #B4A385;
}
.item3{
    background-color: #E4B564;
}
.item4{
    background-color: #635A4A;
}
.item5{
    background-color: #B08C4D;
}
.box{
    align-self: center; 
}
.main-section{
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.main-text{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 161px;
    padding-bottom: 94px;
}
.car{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car1 car1 car1 car1 car2 car2 car2 car2 car3 car3 car3 car3"
    "car4 car4 car4 car4 car2 car2 car2 car2 car6 car6 car6 car6"
    "car4 car4 car4 car4 car2 car2 car2 car2 car6 car6 car6 car6"
    "car4 car4 car4 car4 car2 car2 car2 car2 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car6 car6 car6 car6"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 car5 car5 car5 car5 car7 car7 car7 car7"
    "car4 car4 car4 car4 . . . . car7 car7 car7 car7";
    padding-bottom: 220px;
}
.car-type{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
}
.car-name{
    font-weight: lighter;
}

.car-box{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.type5{
    color: black;
}
.car1{
    background-color: #0E0E0E;
    grid-area: car1;
}
.car2{
    background-color: #242424 ;
    grid-area: car2;
}
.car3{
    background-color: #1F1F1F;
    grid-area: car3;
}
.car4{
    background-color: #1F1F1F ;
    grid-area: car4;
}
.car5{
    background-color: #E4B564 ;
    grid-area: car5;
}
.car6{
    background-color: #0E0E0E;
    grid-area: car6;
}
.car7{
    background-color: #0A0909 ;
    grid-area: car7;
}
.footer-section{
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.footer-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
.footer-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 172px;
}
.footer-buttom{
    text-decoration: none;
    border: 1px solid #E4B564;;
    color: #E4B564;
    padding: 10px 40px;
    margin-top: 180px;
    margin-right: 30px;
}
.footer-block{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 150px;
}
.footer-box{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 480;
}
.eid-logo{
    background-color: #634F2C;
}
.eid{
    align-self: center;
}
.marvis-logo{
    position: relative;
   display: flex;
   flex-direction: column;
   background-color: #E8D2AB; 
   font-weight: 600;
   font-size: 22px;
   line-height: 28px;
   color: #FFFFFF;
}
.marvis-img{
    position: absolute;
    top: 25px;
    right: 120px;
    display: flex;
    flex-direction: column;
}
.marvis1{
    width: 66px;
    align-self: center; 
}
.marvis2 {
    width: 139px;
}
.marvis-text{
    position: absolute;
    top: 60px;
    text-align: center;
}
.company-address{
    flex-direction: column;
}
.address{
    font-weight: lighter;
}
.arsenal{
    width: 190px;
    align-self: center;
}
.arsenal-logo{
    background-color: #E4B564;
}
.arsenal-logo2{
    background-color: #635A4A;
}
.set-group-logo{
    display: flex;
    justify-content: center;
    background-color: #B08C4D;
}
.set-group{
    align-self: center;
}



